@font-face {
  font-family: "GameFont";
  src: url("public/assets/MinimalPixel.ttf") format("truetype");
}

@font-face {
  font-family: "UIFont";
  src: url("public/assets/SuperPixel.ttf") format("truetype");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
  background: #000;
  height: 100vh;
}

h1 {
  font-size: 4.5em;
  font-family: "UIFont";
  color: #fff;
  margin: 0;
  padding: 20px 0px;
}

#app {
  display: flex;
  align-items: center;
  border: 15px solid #fff;
  margin-bottom: 20px;
  border-radius: 10px;
}

p {
  color: #790202;
}